{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/nav.css' %}">

<div class="nav">
    <div class="left">
        <span class="logo">
            ChangeMyPDF
        </span>
    </div>

    <div class="right">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Upload PDF</a></li>
            <li><a href="{% url 'search' %}">Search your PDFs</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="{% static 'main/nav.js' %}"></script>
<script type="text/javascript">

ham = document.querySelector('.hamburger');
navlinks = document.querySelector('.nav-links');
ham.addEventListener('click', e => {
    navlinks.classList.toggle('open')
})
</script>
